# macOS
.DS_Store

# Apple Numbers
*.numbers

# R
.Rhistory
.Rdata
.httr-oauth
.Rproj.user

# Quarto
/.quarto/
_freeze/
*_files/
*.html

# Modelo udpipe (muy pesado)
TP2/data/*.udpipe

# Archivos Numbers del TP1
TP1/data/*.numbers
